body {
	background-color: rgb(0, 0, 80);
}

#sitesContainer {
	display: grid;
	grid-template-columns: repeat(3, 30vw);
	grid-template-rows: auto;
	justify-items: center;
	justify-content: space-between;
	grid-row-gap: 1.5rem;
	max-width: 96%;
	text-align: center;
	margin: auto;
}

img {
	border-radius: 2%;
	border: 12px solid midnightblue;
	filter: sepia(100%);
	transition: filter 500ms ease-in-out;
	width: 100%;
}

img:hover {
	filter: sepia(0);
}

@media (max-width: 1000px) {
	#sitesContainer {
		display: grid;
		grid-template-columns: repeat(2, 40vw);
		grid-template-rows: auto;
		justify-items: center;
		justify-content: space-around;
		grid-row-gap: 1.5rem;
	}
}

@media (max-width: 500px) {
	#sitesContainer {
		display: grid;
		grid-template-columns: 90vw;
		grid-template-rows: auto;
		justify-items: center;
		justify-content: space-between;
		grid-row-gap: 0.5rem;
	}
}
